/* form {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

button {
    background-color: #007bff;
    border-color: #007bff;
    color: black;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    color:white;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .response {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  .error {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  
  .error {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .error {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  } */